* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-dark);
  background-color: var(--background-light);
}

body {
  background-color: #f7fafc;
}

.navbar {
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  background: rgba(10, 25, 48, 0.95);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: white;
}

.container p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #ccc;
}

.logo {
  font-size: 24px;
  color: #00d9ff;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00d9ff;
}
.hero {
  height: 100vh;
  background: linear-gradient(rgba(10, 25, 48, 0.8), rgba(10, 25, 48, 0.8)),
    url("pics/consultation.png")
      center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

form,h3{
  padding-top: 20px;
}

form,.service-form{
  padding: 10px 20px;
}

footer {
  background: #071020;
  margin-top: 70px;
  padding: 5px;
  text-align: center;
  color: white;
}